@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
}

@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white;
  }

  .print-container {
    box-shadow: none;
    border: none;
  }
}